*{
  font-family: 'Karla', sans-serif;
}
/* all page navs CSS */
nav {
  width: 100%;
  background-color: #d9d9d9;
  margin-bottom: 2%;
  padding: 20px;
}
h1 {
  margin: 0;
  letter-spacing: 1rem;
  font-family: 'Playfair Display', serif;
}
h5{
  margin:15px 0 0;
  
}
a {
  text-decoration: none;
  color: #009999;
}
#links {
  float: right;
}
/* home page CSS */
#welcome {
  background-color: #ccffff;
  padding: 5px 0 0 5px;
}
h2, h3 {
  font-family: 'Playfair Display', serif;
  margin-bottom: 2px;
}
h3 {
  font-size: 18px;
}
#homeP1 {
  margin: 5px 0;
}
/* Star rating CSS */

  .rating-stars ul {
    list-style-type:none;
    padding:0;
    
    -moz-user-select:none;
    -webkit-user-select:none;
  }
  .star {
    display:block;
    background-image: url(../images/starRatingFixed.png);
    width: 304px;
    background-position: 0 0;
    height: 50px;
  }

  .star-4 {
    background-position: 0 -50px;
  }

  .star-3 {
    background-position: 0 -98px;
  }

  .star-2 {
    background-position: 0 -144px;
  }

  .star-1 {
    background-position: 0 -190px;
  }
  
  .star > i.fa {
    font-size:2.5em;
    color:#ccc;
  }
  
  .star.hover > i.fa {
    color:#FFCC36;
  }
  
  .star.selected > i.fa {
    color:#FF912C;
  }
  